<!-- Sites Video Layout -->
<div data-content-item-id="{{ $metadata.id }}" data-wch-editable="{{ $metadata.accessor }}"
  data-wch-selectable="{{ $metadata.id }}#{{ $metadata.accessor }}"
  data-acoustic-markup-fragment="{{ @root.$metadata.id }}#{{ $metadata.accessor }}" style="display:flex;
  {{#if margin}}margin: {{{margin.$markup}}};{{/if}}
  {{#eq horizontalAlignment.alignmentOptions "left"}}justify-content:flex-start;{{/eq~}}
  {{#eq horizontalAlignment.alignmentOptions "center"}}justify-content:center;{{/eq~}}
  {{#eq horizontalAlignment.alignmentOptions "right"}}justify-content:flex-end;{{/eq~}}
  {{#if background~}}{{{background.$markup}}}{{~/if}}
 ">

  {{#if video.asset.resourceUri}}
  <video src="{{$context.hub.resourceUrl.origin}}{{$context.hub.apiUrl.pathname}}{{video.asset.resourceUri}}"
    {{#if showPlayControls}}controls=true{{/if}} {{#if muteVideoByDefault}}muted=true{{/if}} {{#if loop}}loop=true{{/if}}
    {{#if autoPlay}}autoplay=true{{/if}} style="
    {{#if padding}}padding: {{{padding.$markup}}};{{/if}}max-width:100%;">
  </video>
  {{~else~}}
  <div data-content-item-id="{{$metadata.id}}" data-wch-editable="{{ $metadata.accessor }}.video" style="width: 100%;"></div>
  {{/if}}
</div>
<!-- End Video Layout -->
