<!-- My Layout -->
<div data-content-item-id="{{ $metadata.id }}" data-accessor="{{ $metadata.accessor }}"
    data-wch-selectable="{{ $metadata.id }}#{{ $metadata.accessor }}"
    data-acoustic-markup-fragment="{{ @root.$metadata.id }}#{{ $metadata.accessor }}"
    style="{{{alignment.$markup}}} background-color:{{{blockColor.colorCode}}};">

    <span style="{{{alignment.$markup}}} margin:{{{margin.$markup}}}; color:{{{textColor}}}; font-size:{{{textSize}}};">
        {{label}}</span> My layout is working!</div>
{{log .}}


<!-- End My Layout -->