<!-- My Layout -->
<div data-content-item-id="{{ $metadata.id }}" data-accessor="{{ $metadata.accessor }}"
    data-wch-selectable="{{ $metadata.id }}#{{ $metadata.accessor }}"
    data-acoustic-markup-fragment="{{ @root.$metadata.id }}#{{ $metadata.accessor }}" style="display:flex;   {{{alignment.$markup}}} padding: {{{padding.$markup}}};     justify-content: space-evenly;
{{~#if background}} 
    {{#eq background.fillOptions "None"}}
        background-color: none; background-image:none;
        {{/eq}} 
    {{#eq background.fillOptions "Solid color"}} 
         background-color: {{{background.backgroundColor.colorCode}}}; 
    {{/eq}}  
    {{#eq background.fillOptions "Background image"}}
        {{~#if background.imageBackground.image.url}}
        background-image: url({{$context.hub.resourceUrl.origin}}{{background.imageBackground.image.renditions.default.url}});{{/if}}
    {{/eq}}  
    
       
    {{#eq background.fillOptions "Gradient"}} 
        {{#eq background.gradient.gradientType "Linear"}} color:red; background-image:linear-gradient({{background.gradient.color1 }}, {{background.gradient.color2 }}) !important; 
        {{/eq~}} 
	    {{#eq background.gradient.gradientType "Radial"}}color:blue; background-image: radial-gradient({{background.gradient.color1 }}, {{background.gradient.color2 }}) !important; 
        {{/eq~}}
    {{/eq}}  
{{/if~}}">
    <div style="{{textStyle.textStyle.$markup}} padding:{{textStyle.padding.$markup}}; width:46%">
        <p style="font-size:larger !important; margin:5px;">
            {{label}}</p>
        <hr>
        <p>{{text}}</p>
        {{~#if image.url }}<a
            style="background-color: {{buttonColor.colorCode}};border:none;padding:{{paddingButton.$markup}}; color:{{buttonTextColor.colorCode}}; text-decoration: none;"
            href="{{{URL}}}">{{buttonLabel}}</a>{{~/if~}}
    </div>
    <img src="{{image.url}}" alt="alt text" style="align-self: center;">
</div>
{{log . }}

<!-- End My Layout -->